In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import time

In [2]:
# in_csv = 'files/weather_train_fixweather.csv'
# out_csv = 'files/weather_train_agg.csv'
in_csv = 'files/weather_test_fixweather.csv'
out_csv = 'files/weather_test_agg.csv'

weather = pd.read_csv(in_csv)
weather2 = weather.copy()

In [3]:
display(weather2)

,weekday,hour,month,year,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,humidity,apparent_temp
0,6,0,0,2017,0,2017-01-01 00:00:00,17.8,4.0,11.7,0.0,1021.4,100.0,3.6,67.50,14.010
1,6,1,0,2017,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1,72.56,14.280
2,6,2,0,2017,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1,80.80,12.580
3,6,3,0,2017,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1,77.90,13.680
4,6,4,0,2017,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6,80.40,13.480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277238,0,19,11,2018,15,2018-12-31 19:00:00,3.3,NaN,1.7,0.0,1018.3,150.0,7.7,89.25,-2.250
277239,0,20,11,2018,15,2018-12-31 20:00:00,2.8,NaN,1.1,0.0,1017.8,140.0,5.1,88.56,-1.717
277240,0,21,11,2018,15,2018-12-31 21:00:00,2.8,NaN,1.7,0.0,1017.2,140.0,6.2,92.44,-2.180
277241,0,22,11,2018,15,2018-12-31 22:00:00,2.8,NaN,2.2,0.0,1016.1,140.0,5.1,95.80,-1.717
277242,0,23,11,2018,15,2018-12-31 23:00:00,3.3,NaN,2.2,0.0,1014.7,140.0,5.1,92.50,-1.217

In [4]:
weather2['timestamp'] = pd.to_datetime(weather2['timestamp'])
weather2['day'] = pd.to_datetime(weather2['timestamp']).apply(lambda x: x.date())

In [5]:
ref = weather2.loc[0]['day']
weather2['day'] = weather2['day'] - ref
weather2['day'] = weather2['day'].dt.days
display(weather2)
print(weather2.dtypes)

,weekday,hour,month,year,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,humidity,apparent_temp,day
0,6,0,0,2017,0,2017-01-01 00:00:00,17.8,4.0,11.7,0.0,1021.4,100.0,3.6,67.50,14.010,0
1,6,1,0,2017,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1,72.56,14.280,0
2,6,2,0,2017,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1,80.80,12.580,0
3,6,3,0,2017,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1,77.90,13.680,0
4,6,4,0,2017,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6,80.40,13.480,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277238,0,19,11,2018,15,2018-12-31 19:00:00,3.3,NaN,1.7,0.0,1018.3,150.0,7.7,89.25,-2.250,729
277239,0,20,11,2018,15,2018-12-31 20:00:00,2.8,NaN,1.1,0.0,1017.8,140.0,5.1,88.56,-1.717,729
277240,0,21,11,2018,15,2018-12-31 21:00:00,2.8,NaN,1.7,0.0,1017.2,140.0,6.2,92.44,-2.180,729
277241,0,22,11,2018,15,2018-12-31 22:00:00,2.8,NaN,2.2,0.0,1016.1,140.0,5.1,95.80,-1.717,729
277242,0,23,11,2018,15,2018-12-31 23:00:00,3.3,NaN,2.2,0.0,1014.7,140.0,5.1,92.50,-1.217,729

weekday                        int64
hour                           int64
month                          int64
year                           int64
site_id                        int64
timestamp             datetime64[ns]
air_temperature              float64
cloud_coverage               float64
dew_temperature              float64
precip_depth_1_hr            float64
sea_level_pressure           float64
wind_direction               float64
wind_speed                   float64
humidity                     float64
apparent_temp                float64
day                            int64
dtype: object

In [6]:
weather3 = weather2.copy()

In [7]:
temp_stat = weather2.groupby(['day','site_id'])['air_temperature'].describe()

In [8]:
display(temp_stat)

             count       mean       std   min     25%    50%     75%   max
day site_id
0   0         24.0  18.987500  5.334817  12.2  14.725  17.50  24.325  27.2
    1         24.0   6.179167  1.757463   4.2   4.600   5.80   6.850   9.8
    2         24.0  13.291667  1.376169  11.7  12.200  12.80  13.900  16.1
    3         24.0   8.120833  2.731774   3.9   6.550   8.05   9.550  12.8
    4         23.0  10.269565  1.463320   6.1  10.000  10.60  11.100  13.3
...            ...        ...       ...   ...     ...    ...     ...   ...
729 11        24.0  -4.900000  2.458349  -7.5  -7.025  -5.90  -2.150  -0.8
    12        24.0   9.458333  0.248328   8.9   9.300   9.50   9.600   9.9
    13        24.0  -1.587500  1.378819  -5.6  -1.700  -1.10  -0.600  -0.6
    14        24.0   1.820833  3.443454  -2.2  -1.100   1.10   6.100   7.2
    15        24.0  -0.575000  2.699638  -4.4  -2.350  -1.40   2.350   3.3

[11631 rows x 8 columns]

In [9]:
t = temp_stat['min']
t = t.rename("min_temperature") 
weather3 = weather3.merge(t,on = ['day','site_id'] ,how = 'left')
t = temp_stat['max']
t = t.rename("max_temperature") 
weather3 = weather3.merge(t,on = ['day','site_id'],how = 'left')
t = temp_stat['mean']
t = t.rename("mean_temperature") 
weather3 = weather3.merge(t,on = ['day','site_id'],how = 'left')

In [10]:
display(weather3)

,weekday,hour,month,year,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,humidity,apparent_temp,day,min_temperature,max_temperature,mean_temperature
0,6,0,0,2017,0,2017-01-01 00:00:00,17.8,4.0,11.7,0.0,1021.4,100.0,3.6,67.50,14.010,0,12.2,27.2,18.9875
1,6,1,0,2017,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1,72.56,14.280,0,12.2,27.2,18.9875
2,6,2,0,2017,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1,80.80,12.580,0,12.2,27.2,18.9875
3,6,3,0,2017,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1,77.90,13.680,0,12.2,27.2,18.9875
4,6,4,0,2017,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6,80.40,13.480,0,12.2,27.2,18.9875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277238,0,19,11,2018,15,2018-12-31 19:00:00,3.3,NaN,1.7,0.0,1018.3,150.0,7.7,89.25,-2.250,729,-4.4,3.3,-0.5750
277239,0,20,11,2018,15,2018-12-31 20:00:00,2.8,NaN,1.1,0.0,1017.8,140.0,5.1,88.56,-1.717,729,-4.4,3.3,-0.5750
277240,0,21,11,2018,15,2018-12-31 21:00:00,2.8,NaN,1.7,0.0,1017.2,140.0,6.2,92.44,-2.180,729,-4.4,3.3,-0.5750
277241,0,22,11,2018,15,2018-12-31 22:00:00,2.8,NaN,2.2,0.0,1016.1,140.0,5.1,95.80,-1.717,729,-4.4,3.3,-0.5750
277242,0,23,11,2018,15,2018-12-31 23:00:00,3.3,NaN,2.2,0.0,1014.7,140.0,5.1,92.50,-1.217,729,-4.4,3.3,-0.5750

In [11]:
weather3.to_csv(out_csv, index=False)

In [12]:
# rain_stat = weather2.groupby(['day','site_id'])['precip_depth_1_hr'].describe()
# t = rain_stat['mean']
# print(t)